<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coder</title>
</head>
<body>
<h1 style="text-align:right;">WELCOME {{name}}</h1>
<h2 style="text-align:center;">ADDITION</h2>
<form action="add/" method="get">
    <table >
        <tr>
            <td><label>NUMBER 1 :</label></td>
            <td><input type="text" name="num1"></td>
        </tr>
        <tr>
            <td><label>NUMBER 2 :</label></td>
            <td><input type="text" name="num2"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>
    </table>
</form>


</body>
</html>